{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='GAAP/gaap.css')}}">{% endblock%}

{% block content %} 

<!-- modal -->
<div class="mod" id="mod">
    <div class="mod-header">
        <div class="title">Add New Name</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="mod-body text-center">
        <div id="modInput">
            <input id="addNameInput" type="text" placeholder="First Last">
        </div>

        <div id="maleFemButtonsDiv">
        
            
            <label for="radioM" class="radio">
                <input type="radio" name="MNF" id="radioM" class="radio__input" value="male">
                <div class="radio__radio"></div>
                male
            </label>
            
            <label for="radioF" class="radio">
                <input type="radio" name="MNF" id="radioF" class="radio__input" value="female">
                <div class="radio__radio"></div>
                female
            </label>
           
        </div>

        <div id="addNameButtonDiv">
            <button class="btn" id="addNameButton">Add Name</button>
        </div>
    </div>

</div>
<div id="overlay"></div>


<!--1. Draggable Tiles -->
<div class="container container-fluid" name="nameContainer" >
    <div class="container">

        <div class="container text-center" id="nameContainer">
            <div class="row">
                <div class="col" id="mNameSpan">
                    <p>Male</p>
                    <!-- <span>&plus;</span> -->
                    <span class="nameField" name="assignmentFields" id="maleSpan">M</span>
                </div>

                <div class="col" id="wNameSpan">
                    <p>Female</p>
                    <!-- <span>&plus;</span> -->
                    <span class="nameField" name="assignmentFields" id="femaleSpan">F</span>
                </div>
            </div>

            <div class="col" id="nameButtonSpan">
                <button data-modal-target="#mod" type="button" class="btn" id="nameButton" data-modal-target="#modal">Add Name</button> <!-- &#43 is + symbol-->
            </div>
            
        </div>
       
        <!-- <div  id="dateDiv">
            <span><input type="date" class="date" id="date1">-<input type="date" class="date" id="date2"></span>
        </div> -->

        <div class="container w-75" id="printableArea">
            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Presidente: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>
            
            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Consejero de la sala auxiliar: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Oración: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <h2 class="meetingTitles" id="tesoros">Tesoros de la Biblia</h2>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">10 minutos: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Busquemos perlas escondidas: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>


            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    
                  </div>
                  <div class="col-sm">
                    Sala Auxiliar
                  </div>
                  <div class="col-sm">
                    Sala Principal
                  </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <span class="assignment" name="assignmentFields">Lectura de la Biblia: </span>
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                  </div>
            </div>

            <h2 class="meetingTitles" id="maestros">Seamos mejores maestros</h2>

            <!-- grid -->
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                  </div>

                  <div class="col-sm">
                    Sala Auxiliar
                  </div>
                  <div class="col-sm">
                    Sala Principal
                  </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <span class="assignment" name="assignmentFields">Primera conversación: </span>
                        
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                        <span class="assignment" name="assignmentFields">Revisita: </span>
                        
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                        <span class="assignment" name="assignmentFields">Curso Biblico: </span>
                        
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm">
                        <span class="assignment" name="assignmentFields">Discurso: </span>
                        
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                    <div class="col-sm">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </div>
                  </div>



              </div>



            <h2 class="meetingTitles" id="vidaCristiana">Nuestra vida cristiana</h2>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">15 min: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Estudio bíblico de la congregación: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Oración:</span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>
    </div>

    <div class="text-center" id="formDiv">
        <form action="" method="POST">
            <button class="btn btn-info" id="fillButton" type="submit">Fill Out Form</button>
        </form>
    </div>

</div>

{% endblock %}

{% block script %}<script src="{{ url_for('static', filename='GAAP/gaap.js')}}"></script>{% endblock %}