:root {
    --divBackground-color: rgba(0, 255, 102, 0.193);
    --fontColor: ;
  }

p, label {
    font-size: large;
    font-weight: bold; 
    /* color: #5C695E; */
 }

@keyframes loadFadeIn {
    0%   {opacity: .1;}
    100%   {opacity: 1;}
}
  
body {
     font-family:'PT Serif', serif;
     animation: loadFadeIn ease .5s;
     /* animation-iteration-count: 1; */
     /* animation-fill-mode: forwards; */
 } 

#buttons {
    margin-top: 30px;
}

@keyframes fadeIn {
    0%   {opacity: .1;}
    50%   {opacity: .5;}
    100%   {opacity: 1;}
}
  
#depositTotal, #balance, #otherDeductions {
    background-color: var(--divBackground-color);
    color: var(--fontColor);
    animation-name: fadeIn;
    animation-duration: 2.5s;
}

div#createdDepositFields > div, div#createdDeductionFields > div  {
    animation-name: fadeIn;
    animation-duration: .25s;
}

#calculateButton:active {
    background-color: skyblue;
    box-shadow: 0 1px navy;
    transform: translateY(4px);
}

#resetButton:active {
    background-color: rgb(250, 15, 125);
    box-shadow: 0 1px maroon;
    transform: translateY(4px);
}
  

.names {
    padding: 2% 2% 2% 2%;
}

#maleNames {
    font-size:x-large;
    
}