
p, label {
   font-size: large;
   font-weight: bold; 
   color: #5C695E;
}

h1 {
    /* color: white; */
    margin-bottom: 20px;
}

h2 {
    color: #04691e;
    /* font-weight: 500;     */
}


body {
    font-family:'PT Serif', serif;
  }

  