p, label {
    font-size: large;
    font-weight: bold; 
    color: #5C695E;
 }
 
 h1 {
     /* color: white; */
     margin-bottom: 20px;
 }
 
 h2 {
     /* color: #04691e; */
    background-color: rgba(0, 255, 102, 0.193);
     /* font-weight: 500;     */
 }
 
 
 body {
     font-family:'PT Serif', serif;
   } 

#mainBody {
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-attachment: fixed;

} 
#inputFormDiv {
    padding: 0px;
}   

#form {
    background-color: white;

}

#buttons {
    margin-top: 30px;
}

  