{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='GAAP/gaap.css')}}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='GAAP/gaap_print.css')}}" media="print"> -->
{% endblock%}

{% block content %} 


<!-- modal -->
<div class="mod" id="mod">
    <div class="mod-header">
        <div class="title">Add New Name</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="mod-body text-center">
        <div id="modInput">
            <input id="addNameInput" type="text" placeholder="First Last">
        </div>

        <div id="maleFemButtonsDiv">
        
            
            <label for="radioM" class="radio">
                <input type="radio" name="MNF" id="radioM" class="radio__input" value="male">
                <div class="radio__radio"></div>
                male
            </label>
            
            <label for="radioF" class="radio">
                <input type="radio" name="MNF" id="radioF" class="radio__input" value="female">
                <div class="radio__radio"></div>
                female
            </label>
           
        </div>

        <div id="addNameButtonDiv">
            <button class="btn" id="addNameButton">Add Name</button>
        </div>
    </div>

</div>
<div id="overlay"></div>

<!--1. Draggable Tiles -->
<div class="container text-center" id="nameContainer">
    <div class="row">
        <div class="col" id="mNameSpan">
            <!-- <p>Male</p> -->
            
            <span class="nameField" name="assignmentFields" id="maleSpan">M</span>
        </div>

        <div class="col" id="wNameSpan">
            <!-- <p>Female</p> -->
            
            <span class="nameField" name="assignmentFields" id="femaleSpan">F</span>
        </div>
    </div>

    <div class="col" id="nameButtonSpan">
        <button data-modal-target="#mod" type="button" class="btn" id="nameButton" data-modal-target="#modal">Add Name</button> 
    </div>
    
</div>

<!-- printable area div -->
<div class="container container-fluid" name="nameContainer" id="main">
    <div class="container">

        <!-- date span -->
    <span class="col">
        <span><input type="text" oninput="displayText('dateInput')" id="dateInput" placeholder="Enter Week EX: 9/4-10/23"></input></span>
        <span><input type="text" oninput="displayText('textInput')" id="textInput" placeholder="Enter Text For Week"></input></span>
    </span>

        <!-- main content -->
        <div class="container w-75" id="printableArea">

    

        <!-- header -->
        <div id="titleHeader">
            <span id="groupName">East Spanish</span>
            <span id="titleDescription">Programa para la reunión de entre semana</span>
        </div>

        <!-- fills in from date span input -->
        <span class="row">
            <span class="col" id="dateAndText">
                <span id="dateSpan"></span>
                <span id="dateSpan">|&nbsp;</span>
                <span id="textSpan"></span>
            </span>
<!-- TODO: agadsfas -->
            <span class="col">
                <span name="assignmentFields">Presidente:</span>
                <span class="nameField" name="assignmentFields">&plus;</span>
            </span>
        </span>

        <span class="row">
            <span class="col">
                <span class="assignment" name="assignmentFields">Canción: </span>
                <!-- <span class="nameField" name="assignmentFields">&plus;</span> -->
            </span>

            <span class="col">
                <span name="assignmentFields">Consejero de la sala auxiliar:</span>
                <span class="nameField" name="assignmentFields">&plus;</span>
            </span>
        </span>

        <span class="row">
            <span class="col">
                <span class="assignment" name="assignmentFields">Comentarios de apertura (1 min.): </span>
                <span class="nameField" name="assignmentFields">&plus;</span>
            </span>

            <span class="col">
                <span name="assignmentFields">Oración:</span>
                <span class="nameField" name="assignmentFields">&plus;</span>
            </span>
        </span>
       


            <h2 class="meetingTitles" id="tesoros">Tesoros de la Biblia</h2>

            <span class="row">
                <span class="col">
                    <!-- <input type="text" name="" id=""> -->
                    <span class="assignment" name="assignmentFields"> user enter (10 min.): </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Busquemos perlas escondidas (10 min.): </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <div class="row" id="middle">
                <div class="col">
                </div>
                <div class="col">
                Sala Auxiliar   
                </div>
                <div class="col">
                Sala Principal
                </div>
            </div>
                <span class="row">
                    <span class="col">
                        <span class="assignment" name="assignmentFields">Lectura de la Biblia: </span>
                        <!-- <span class="nameField" name="assignmentFields">&plus;</span> -->
                    </span>

                    <span class="col">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </span>

                    <span class="col">
                        <span class="nameField" name="assignmentFields">&plus;</span>
                    </span>
                </span>
            

               
            <h2 class="meetingTitles" id="maestros">Seamos mejores maestros</h2>

            <!-- grid -->
            

                <div class="row" id="middle">
                    <div class="col">
                    </div>
                    <div class="col">
                    Sala Auxiliar   
                    </div>
                    <div class="col">
                    Sala Principal
                    </div>

                    <span class="row">
                        <span class="col">
                            <span class="assignment"  name="assignmentFields">Primera conversación (3 min.): </span>
                            <!-- <span class="nameField" name="assignmentFields">&plus;</span> -->
                        </span>

                        <span class="col">
                            <span class="nameField" data-rows="inner" name="assignmentFields">&plus;</span>
                        </span>

                        <span class="col">
                            <span class="nameField" data-rows="inner" name="assignmentFields">&plus;</span>
                        </span>
                    </span>

                    <span class="row">
                        <span class="col">
                            <span class="assignment" name="assignmentFields">Revisita (4 min.): </span>
                            <!-- <span class="nameField" name="assignmentFields">&plus;</span> -->
                        </span>

                        <span class="col">
                            <span class="nameField" data-rows="inner" name="assignmentFields">&plus;</span>
                        </span>

                        <span class="col">
                            <span class="nameField" data-rows="inner" name="assignmentFields">&plus;</span>
                        </span>
                    </span>

                    <span class="row">
                        <span class="col">
                            <span class="assignment"  name="assignmentFields">Discurso (5 min.): </span>
                        </span>

                        <span class="col">
                            <span class="nameField" data-rows="inner" name="assignmentFields">&plus;</span>
                        </span>

                        <span class="col">
                            <span class="nameField" data-rows="inner" name="assignmentFields">&plus;</span>
                        </span>
                    </span>


                </span>

                </div>

            <h2 class="meetingTitles" id="vidaCristiana">Nuestra vida cristiana</h2>

            <span class="row">
                <span class="col">
                    <span class="assignment">Canción: </span>
                </span>
            </span>


            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">15 min: </span>
                    <span class="nameField" name="assignmentFields">&plus;</span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Estudio bíblico de la congregación (30 min.): </span>
                </span>
            </span>

            <span class="row">
                <span class="col">
                    <span class="assignment" name="assignmentFields">Comentarios de conclusión (3 min.): </span>
                    
                </span>
            </span>
    
            <span class="row">
                <span class="col">
                    <span class="assignment">Canción: </span>
                </span>
            </span>


        </div>

    <div class="text-center" id="formDiv">
        <form action="" method="POST">
            <button class="btn btn-info" id="fillButton" type="button">Print Form</button>
        </form>
    </div>

    <div id="gifSpan">
        <p>Does the print page not have color or styling?</p>
        <img src="static/GAAP/activate_css_print.GIF" alt="how to enable styling when printing" id="gif">
    </div>

</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='GAAP/gaap.js')}}"></script>
{% endblock %}